.button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: $text-color-dark;
  background-color: $primary-color;
  padding: 1em 1.7em;
  border: none;
  border-radius: 2px;
  //transition: color 0.2s linear, background-color 0.2s linear;

  &:hover {
    background-color: $text-color-dark;
    color: $text-color-light;
  }
}
