.page-title-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  .page-title {
    text-align: center;
    color: #ffffff;
    margin: 1rem 0;
  }
}

.page-title-overlap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px 0;
  background: repeating-linear-gradient(
    90deg,
    rgba($color: #000000, $alpha: 0.4),
    rgba($color: #000000, $alpha: 0.5) 2px
  );
}

@include media-breakpoint-up(md) {
  .page-title-overlap {
    padding-top: $header-height-tall;
  }
}
