.page-title-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("./../img/header-bottom-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 20px 0;

  .page-title {
    text-align: center;
    color: #ffffff;
    margin: 1rem 0;
  }
}

.heading-underline {
  font-weight: bold;

  &:after {
    content: "";
    display: block;
    height: 2px;
    width: 2em;
    background-color: $primary-color;
    margin: 7px 0;
  }

  &_center {
    &:after {
      margin: 7px auto;
    }
  }
}

@include media-breakpoint-up(md) {
  .page-title-wrapper {
    padding-top: $header-height-tall;
  }
}
