$tr-opacity: 0.7s;
$tr-transform: 0.5s;
$tr-first-delay: 0.5s;
$tr-second-delay: 0.8s;
$tr-third-delay: 1.2s;
$tr-function: ease-out;

// Slick slider
.slider {
  .slider-item {
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
  }

  .slick-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: transparent;

    &:hover {
      svg {
        fill: $primary-color;
      }
    }

    svg {
      fill: $text-color-dark;
      width: 24px;
      height: 24px;
      transition: fill 0.3s ease;
    }
  }
}

// main slider
.main-slider {
  .main-slider-img {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #222;
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;

    svg {
      fill: $text-color-light;
    }

    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }

  .main-slider-content {
    max-width: 600px;
  }

  .main-slider-heading {
    color: $text-color-light;
    font-weight: bold;
    font-size: 3rem;
    will-change: opacity, transform;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity $tr-opacity $tr-first-delay $tr-function,
      transform $tr-transform $tr-first-delay $tr-function;
  }

  .main-slider-text {
    color: $text-color-light;
    will-change: opacity, transform;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity $tr-opacity $tr-second-delay $tr-function,
      transform $tr-transform $tr-second-delay $tr-function;
  }

  .main-slider-button {
    opacity: 0;
    will-change: opacity, transform;
    transform: translateY(20px);
    transition: opacity $tr-opacity $tr-third-delay $tr-function,
      transform $tr-transform $tr-third-delay $tr-function, color 0.2s linear,
      background-color 0.2s linear; // color and bg is from button.scss
  }

  .slick-current {
    .main-slider-heading {
      opacity: 1;
      transform: translateY(0);
    }

    .main-slider-text {
      opacity: 1;
      transform: translateY(0);
    }

    .main-slider-button {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .slick-dots {
    margin: 0 0 20px 0;
    padding: 0;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    text-align: center;

    li {
      display: inline-block;

      button {
        font-size: 0;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;

        &:before {
          font-size: 20px;
          line-height: 20px;
          width: 20px;
          height: 20px;
          content: "•";
          text-align: center;
          color: #fff;
          -webkit-font-smoothing: antialiased;
        }
      }

      &.slick-active {
        button:before {
          color: $primary-color;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .main-slider-heading {
      font-size: 3.6rem;
    }
  }
}

// product slider
.product-slider-wrapper {
  background-color: #f5f5f5;
  padding: 80px 0;
}

.product-slider {
  display: flex;
  align-items: center;
  margin: 60px 0 0 0;

  .slider-item {
    padding: 0 5px;
  }

  .slick-arrow_right {
    margin-right: -15px;
  }

  .slick-arrow_left {
    margin-left: -15px;
  }

  @include media-breakpoint-up(sm) {
    .slick-arrow_right {
      margin-right: 0;
    }

    .slick-arrow_left {
      margin-left: 0;
    }
  }
}
