$primary-color: #ffcc00;
$text-color-light: #ffffff;
$text-color-dark: #303030;
$text-color-gray: #777777;

$box-shadow-2d: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
$border-radius: 2px;

$header-height-tall: 100px;
