.header {
  height: 56px;
  background-color: #ffffff;

  .header-logo {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
  }

  .lang-dropdown {
    display: none;
  }
}

.lang-links {
  padding: 17px;
}

.h-100 {
  height: 100%;
}

.header-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
}

.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: $box-shadow-2d;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;

  &.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }
}

.header-link {
  color: #000000;
  padding: 17px;
  text-decoration: none;
  transition: color 0.2s linear;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $primary-color;
  }

  &.active {
    color: $primary-color;
  }
}

.nav-toggle-btn {
  display: inline-block;
  line-height: 11px;
  padding: 10px 0 10px 15px;
}

.admin-dropdown {
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: $text-color-dark;
    text-transform: uppercase;
    font-weight: bold;
    padding: 17px;
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-item {
    color: $text-color-dark;
    padding: 10px 17px;
    font-weight: bold;

    &:hover {
      text-decoration: none;
      color: $text-color-dark;
    }
  }
}

@include media-breakpoint-up(md) {
  .header {
    height: $header-height-tall;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    background-color: transparent;

    .dropdown {
      display: inline-block;
    }

    .lang-dropdown {
      .dropdown-toggle {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
        color: $text-color-light;
      }

      .dropdown-item {
        color: $text-color-dark;
        transition: color 0.2s linear;

        &:hover {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }

    .header-logo {
      color: #ffffff;
    }
  }

  .lang-links {
    display: none;
  }

  .header-link {
    color: #ffffff;
  }

  .main-nav {
    display: block;
    opacity: 1;
    position: static;
    transform: translate(0);
    box-shadow: none;
    border-top: none;
    pointer-events: auto;
    background-color: transparent;
  }

  .nav-toggle-btn {
    display: none;
  }

  .admin-dropdown {
    .dropdown-toggle {
      color: $text-color-light;
    }

    .dropdown-menu {
      min-width: 200px;
    }
  }
}
